# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
/ios
/android
.gradle/
build/
local.properties
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# IDEs & OS
.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store

# Logs & Builds
*.log
*.hprof
*.aab
*.apk
output-metadata.json

# Google Services
google-services.json

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local Env Files
.env*.local
.env.production.local
.env.test.local
.env.development.local

# TypeScript
*.tsbuildinfo
